<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .th{border: 1px solid black;}
        .td{border: 1px solid black; text-align: center;}
        .center{text-align: center;}
    </style>
</head>
<body>
    <table style="border: 1px solid black; width: 50%;">
        <tr>
            <th class="th">Customer ID</th>
            <th class="th">Customer Name</th>
            <th class="th">CNIC</th>
        </tr>
        <tr>
            <td class="center">1</td>
            <td class="center">Ziad</td>
            <td class="center">12123434</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Mubashar</td>
            <td>12123434</td>
        </tr>
    </table>
</body>
</html>