.sidebar-item{
    padding: 5px 7px 7px 8px ;
    display: block;
    transition: background-color .15s;
    border-radius: 5px;
}
.sidebar-item:hover{
    background-color:rgba(255, 255, 255, 0.159);
}
.sidbar-title{
    display: flex;
    font-size: 17px;
    justify-content: space-between;
}
.sidbar-title span i{
    display: inline-block;
    width: 30px;
}
.sidbar-title .toggle-btn{
    cursor: pointer;
    transition: transform .3s;
}
.sidebar-item.open > .sidbar-title .toggle-btn{
    transform: rotate(180deg);
}
.sidebar-content{
    padding-top: .25em;
    height: 0;
    overflow: hidden;
}
.sidebar-item.open > .sidebar-content{
    height: auto;
}
.sidebar-item.plain{
    color: #fff;
    text-decoration: none;
}
.sidebar-item.plain i{
    display: inline-block;
    width: 1.7em;
}
.sidebar-item.plain:hover{
    text-decoration: underline;
}